@import url("https://fonts.googleapis.com/css?family=Montserrat:200,300,400,600,700,900");
@import url("https://fonts.googleapis.com/css?family=Playfair+Display:400,700");
/*
 * Full menu
 * ----------
 * Styles in this section are very
 * important and you have to implement
 * them if you want for your
 * navigation to work properly.
 *
 */
.full-menu {
  visibility: hidden;
  display: table;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  background-color: rgba(255, 255, 255, 0.92);
  -webkit-transform: scale(0.85);
  -ms-transform: scale(0.85);
  transform: scale(0.85);
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out; }

.full-menu--open {
  visibility: visible;
  opacity: 1;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  background-color: #1b1b22;
  z-index: 9999; }

.full-menu--transition {
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out; }

.full-menu--middle {
  display: table-cell;
  vertical-align: middle; }
  .full-menu--middle .logo-main {
    position: absolute;
    top: 30px;
    right: 150px;
    width: 200px; }

.menu-toggle {
  border: 0;
  color: #fff;
  background-color: transparent;
  padding: 10px 10px 5px 10px;
  margin: 18px 0;
  width: 50px;
  position: fixed;
  left: 10%;
  z-index: 9998;
  top: 0; }

.menu-toggle--close {
  position: absolute;
  top: 0px;
  left: 10%;
  width: 50px; }

.main-nav {
  list-style-type: none;
  text-align: center; }
  .main-nav li {
    text-decoration: none; }

/*======= Splash Section =======*/
.splash-section {
  width: 100%;
  height: 100vh;
  margin-top: 70px; }
  .splash-section .splash-title-container {
    position: absolute;
    top: 25%;
    left: 25%;
    text-align: center;
    margin: 0 auto;
    width: 50%;
    z-index: 9998; }
    .splash-section .splash-title-container img {
      width: 70%;
      margin: 0 auto; }
    .splash-section .splash-title-container h2 {
      width: 80%;
      margin: 50px auto; }
    .splash-section .splash-title-container .text-break {
      height: 5px;
      width: 200px;
      background-color: #f58220;
      margin: 0 auto 30px auto;
      display: block; }
    .splash-section .splash-title-container p {
      width: 90%;
      margin: 0 auto; }
  .splash-section .homepage-hero-module .video-container {
    opacity: .2; }

.splash-overflow {
  background-image: url("../img/bg-lines.png");
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  position: absolute;
  top: 120px;
  height: 160vh;
  width: 100%; }

/*======= Branding Section =======*/
.branding-section {
  height: 89.5vh;
  width: 100%;
  margin-top: 100px; }
  .branding-section .left {
    padding-left: 15%;
    padding-top: 80px;
    height: 100%; }
    .branding-section .left .scroll-down {
      position: relative;
      left: -20%;
      top: 350px;
      display: block;
      writing-mode: sideways-lr;
      z-index: 9995; }
    .branding-section .left h1 {
      margin-bottom: 50px; }
    .branding-section .left h3 {
      margin-bottom: 15px; }
    .branding-section .left .item-desc {
      position: absolute;
      bottom: 0px; }
  .branding-section .right {
    padding-right: 0px;
    position: absolute;
    right: 0; }
    .branding-section .right img {
      margin-bottom: 15px;
      display: block;
      width: 100%; }
    .branding-section .right .discover-link {
      position: absolute;
      bottom: 40px;
      right: 30%; }

/*======= Advertising Section =======*/
.advertising-section {
  height: auto;
  padding-top: 70px; }
  .advertising-section .top {
    margin-bottom: 50px; }
    .advertising-section .top .right h1 {
      margin-bottom: 30px; }
      .advertising-section .top .right h1 span.underline {
        border-bottom: 3px solid orange; }
  .advertising-section .mid .left {
    padding-left: 0px; }
    .advertising-section .mid .left img {
      margin-bottom: 15px;
      display: block;
      width: 100%; }
  .advertising-section .mid .right {
    padding-right: 0px; }
    .advertising-section .mid .right h3 {
      margin-top: 0px; }
    .advertising-section .mid .right img {
      width: 100%;
      max-width: none;
      margin-top: 30px; }
  .advertising-section .bottom {
    padding-left: 10%; }

.others-section {
  height: 100vh;
  margin-top: 100px; }
  .others-section .others-header {
    z-index: 9999;
    position: relative;
    top: -165px; }
  .others-section img {
    width: 100%;
    display: block;
    position: relative;
    top: -55px; }
  .others-section .others-content {
    background-image: url("../img/others.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 90vh; }
    .others-section .others-content .others-content-inner {
      background-color: #f58220;
      padding: 50px 0 50px 75px;
      width: 55%;
      margin: 0 auto;
      display: grid;
      grid-template-rows: 50%;
      grid-template-columns: 1fr 1fr;
      grid-column-gap: 15px;
      grid-row-gap: 15px;
      justify-self: start;
      align-self: center;
      position: relative;
      top: 200px; }
      .others-section .others-content .others-content-inner h4, .others-section .others-content .others-content-inner p {
        color: #fff; }
      .others-section .others-content .others-content-inner p {
        display: inline-block; }

.group-section {
  margin-top: 200px; }
  .group-section img {
    width: 100%; }

.clients-section {
  height: auto;
  margin-top: 100px;
  padding: 0 10%; }
  .clients-section .clients-container {
    margin-top: 100px;
    display: grid;
    grid-template-rows: 32%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 50px;
    grid-row-gap: 50px;
    justify-self: start;
    align-self: center; }

h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  font-size: 6vw;
  text-transform: uppercase; }
  h1 span.underline {
    border-bottom: 3px solid black; }

h2 {
  font-family: 'Playfair Display', serif;
  font-size: 4.2vw;
  text-align: center; }

h3 {
  font-family: 'Playfair Display', serif;
  font-size: 2vw; }

h4 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.8vw;
  font-weight: 700;
  text-transform: uppercase; }

h5 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 1.1vw;
  margin-bottom: 0px; }

p {
  font-family: 'Playfair Display', serif;
  font-size: 1vw;
  line-height: 32px;
  text-align: center; }

a.branding {
  font-family: 'Playfair Display', serif;
  font-size: 1.9vw;
  text-decoration: underline;
  color: #3c3c3c; }

.row {
  margin: 0; }

ul.landing-list {
  list-style: none; }
  ul.landing-list li {
    position: relative;
    margin-bottom: 10px; }
    ul.landing-list li:before {
      position: absolute;
      display: block;
      content: '';
      background-image: url("../img/icon-list.svg");
      background-repeat: no-repeat;
      height: 15px;
      width: 15px;
      left: -40px;
      top: 4px; }

.blockquote {
  padding: 30px 0px 30px 60px;
  margin: 50px 0 0 0;
  background-image: url("../img/blockquote.svg");
  background-position: top left;
  background-repeat: no-repeat;
  text-indent: 0;
  width: 500px; }
  .blockquote h1 {
    display: block;
    font-family: 'Montserrat', sans-serif;
    font-size: 54px;
    font-weight: 400;
    text-transform: none; }
    .blockquote h1 span.achieve {
      font-family: 'Montserrat', sans-serif;
      font-weight: bolder;
      color: #f58220; }
  .blockquote .blockquote2 {
    background-image: url("../img/blockquote2.svg");
    background-repeat: no-repeat;
    background-position: bottom right;
    width: 50px;
    height: 35px;
    position: relative;
    left: 385px; }

.orange {
  color: #f58220; }

.homepage-hero-module {
  border-right: none;
  border-left: none;
  position: relative; }

.no-video .video-container video,
.touch .video-container video {
  display: none; }

.no-video .video-container .poster,
.touch .video-container .poster {
  display: block !important; }

.video-container {
  position: relative;
  bottom: 0%;
  left: 0%;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background: #000; }

.video-container .poster img {
  width: 100%;
  bottom: 0;
  position: absolute; }

.video-container .filter {
  z-index: 100;
  position: absolute;
  background: rgba(0, 0, 0, 0.4);
  width: 100%; }

.video-container video {
  position: absolute;
  z-index: 0;
  bottom: 0; }

.video-container video.fillWidth {
  width: 100%; }

.footer {
  background-color: #373737;
  padding: 50px 10%;
  color: #fff; }
  .footer .upper .left {
    padding-right: 50px; }
    .footer .upper .left p {
      font-family: 'Montserrat', sans-serif;
      font-weight: 200;
      font-size: 17px;
      text-align: left !important; }
    .footer .upper .left a {
      font-family: 'Playfair Display', serif;
      font-size: 30px;
      color: #fff;
      text-decoration: underline; }
  .footer .upper .right p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 19px;
    float: right; }
  .footer .upper .right a {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 30px;
    float: right;
    color: #fff; }
  .footer .upper .right p.telephone {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 17px;
    float: right; }
  .footer .lower {
    width: 100%;
    display: grid;
    grid-template-rows: 25%;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 50px;
    grid-row-gap: 50px;
    justify-items: center;
    align-items: center; }

/*==========  Non-Mobile First Method  ==========*/
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
  .menu-toggle {
    border-bottom: 1px solid red; } }
/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  .menu-toggle {
    border-bottom: 1px solid blue; } }
/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  .menu-toggle {
    border-bottom: 1px solid green; } }
/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  .menu-toggle {
    border-bottom: 1px solid yellow; } }
/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
  .menu-toggle {
    border-bottom: 1px solid pink; } }
body {
  height: auto;
  width: 100%; }

html {
  width: 100%;
  height: 100%; }

/*# sourceMappingURL=master.css.map */
