@import url("https://fonts.googleapis.com/css?family=Montserrat:200,300,400,600,700,900");
@import url("https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700");
/*
 * Full menu
 * ----------
 * Styles in this section are very
 * important and you have to implement
 * them if you want for your
 * navigation to work properly.
 *
 */
.full-menu {
  visibility: hidden;
  display: table;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  background-color: rgba(255, 255, 255, 0.92);
  -webkit-transform: scale(0.85);
  -ms-transform: scale(0.85);
  transform: scale(0.85);
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out; }

.full-menu--open {
  visibility: visible;
  opacity: 1;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  background-color: #1b1b22;
  z-index: 9999; }

.full-menu--transition {
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out; }

.full-menu--middle {
  display: table-cell;
  vertical-align: middle; }
  .full-menu--middle .logo-main {
    position: absolute;
    top: 30px;
    right: 150px;
    width: 200px; }
  .full-menu--middle .main-nav {
    list-style-type: none;
    text-align: center;
    padding: 0px; }
    .full-menu--middle .main-nav li {
      text-decoration: none; }
      .full-menu--middle .main-nav li a {
        display: block;
        width: 200px;
        margin: 35px auto 25px auto;
        transition: all .33s ease-in-out;
        padding: 5px;
        line-height: 0px;
        border-bottom: 10px solid transparent; }
        .full-menu--middle .main-nav li a:hover {
          text-decoration: none;
          border-bottom: 10px solid #f58220;
          width: 200px; }
  .full-menu--middle .social-links {
    text-align: center;
    width: 200px;
    margin: 0 auto; }
    .full-menu--middle .social-links a img {
      display: inline;
      max-width: 50px;
      margin: 20px 10px; }

.menu-toggle {
  border: 0;
  color: #fff;
  background-color: transparent;
  padding: 10px 10px 5px 10px;
  margin: 18px 0;
  width: 50px;
  position: fixed;
  left: 10%;
  z-index: 9998;
  top: 0; }

.menu-toggle--close {
  position: absolute;
  top: 0px;
  left: 10%;
  width: 50px; }

.navbar-brand {
  position: fixed;
  top: 20px;
  right: 130px;
  width: 200px;
  z-index: 9998; }

.who-splash-section {
  background-color: #1b1b22;
  color: #fff;
  padding: 100px 0px; }
  .who-splash-section .who-splash-title-container {
    width: 60%;
    margin: 0 auto; }
    .who-splash-section .who-splash-title-container .who-splash-img {
      width: 40%;
      margin: 0 auto; }
    .who-splash-section .who-splash-title-container .line-break {
      width: 200px;
      height: 5px;
      background-color: #f58220;
      margin: 30px auto;
      display: block; }
    .who-splash-section .who-splash-title-container p {
      width: 80%;
      margin: 0 auto; }
    .who-splash-section .who-splash-title-container .scroll-down {
      position: relative;
      left: 50%;
      top: 50px;
      color: #fff;
      z-index: 9998; }
      .who-splash-section .who-splash-title-container .scroll-down img {
        width: 20px; }
      .who-splash-section .who-splash-title-container .scroll-down:focus {
        outline: none; }
  .who-splash-section .hunter-leaders-section {
    width: 80%;
    margin: 0 auto; }
    .who-splash-section .hunter-leaders-section .left .hunter-leaders-container {
      display: grid;
      grid-template-rows: auto;
      grid-template-columns: 1fr 1fr 1fr;
      grid-column-gap: 30px;
      grid-row-gap: 30px;
      justify-items: center;
      align-items: center; }
      .who-splash-section .hunter-leaders-section .left .hunter-leaders-container .column figure {
        margin-bottom: 30px; }
      .who-splash-section .hunter-leaders-section .left .hunter-leaders-container #two {
        margin-top: 300px; }
      .who-splash-section .hunter-leaders-section .left .hunter-leaders-container #three {
        margin-top: 150px; }
    .who-splash-section .hunter-leaders-section .right {
      position: relative; }
      .who-splash-section .hunter-leaders-section .right .text-container {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        text-align: center; }
        .who-splash-section .hunter-leaders-section .right .text-container .line-break {
          height: 5px;
          width: 100px;
          margin: 20px auto;
          background-color: #f58220; }

.who-splash-overflow {
  background-image: url("../img/who-bg-lines.png");
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  position: absolute;
  top: 40px;
  height: 160vh;
  width: 100%; }

.who-quote-section {
  width: 40%;
  margin: 200px auto;
  text-align: center; }
  .who-quote-section h1 {
    text-transform: none;
    font-weight: 600;
    font-size: 60px;
    margin: 0; }
  .who-quote-section .orange {
    font-family: 'Playfair Display', serif !important;
    font-weight: lighter;
    font-size: 118px;
    margin: 10px 0 30px 0;
    line-height: 100px; }
  .who-quote-section h2 {
    font-size: 25px;
    margin: 30px 0 0 0; }

.who-collective-section {
  width: 80%;
  margin: 0 auto 300px auto; }
  .who-collective-section h1 {
    font-size: 70px;
    font-weight: 600;
    text-align: center;
    text-transform: none;
    width: 60%;
    margin: 0 auto; }
  .who-collective-section .who-collective-container {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    justify-items: center;
    align-items: start;
    margin-top: 40px; }
    .who-collective-section .who-collective-container .column figure {
      margin-bottom: 30px; }
    .who-collective-section .who-collective-container #one {
      margin-top: 50px; }
    .who-collective-section .who-collective-container #two {
      margin-top: 100px; }
    .who-collective-section .who-collective-container #three {
      margin-top: 0px; }
    .who-collective-section .who-collective-container #four {
      margin-top: 100px; }
    .who-collective-section .who-collective-container #five {
      margin-top: 50px; }

.who-links-section {
  background-color: #f58220;
  padding: 150px 0 200px 0;
  color: #fff;
  text-align: center; }
  .who-links-section .left img.icon1 {
    width: 200px;
    margin: 0 auto 30px auto; }
  .who-links-section .right img.icon2 {
    width: 250px;
    margin: 0 auto 30px auto; }

.what-splash-section {
  height: 100vh; }
  .what-splash-section .what-splash-title-container {
    background-color: #fff;
    color: #3c3c3c;
    padding: 100px 0px;
    width: 60%;
    margin: 0 auto; }
    .what-splash-section .what-splash-title-container .what-splash-img {
      width: 40%;
      margin: 0 auto; }
    .what-splash-section .what-splash-title-container .line-break {
      width: 200px;
      height: 5px;
      background-color: #f58220;
      margin: 30px auto;
      display: block; }
    .what-splash-section .what-splash-title-container p {
      width: 80%;
      margin: 0 auto; }
    .what-splash-section .what-splash-title-container .scroll-down {
      position: relative;
      left: 50%;
      top: 80px;
      color: #3c3c3c;
      z-index: 9998; }
      .what-splash-section .what-splash-title-container .scroll-down img {
        width: 10px; }
      .what-splash-section .what-splash-title-container .scroll-down:focus {
        outline: none; }

.what-splash-overflow {
  background-image: url("../img/who-bg-lines.png");
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  position: absolute;
  top: 40px;
  height: 160vh;
  width: 100%; }

.group-img {
  width: 100%;
  margin-top: 100px; }

.what-content {
  text-align: center; }
  .what-content h1.what-text {
    font-weight: 700;
    text-transform: none;
    line-height: 60px;
    letter-spacing: -5px;
    margin: 25% 0; }
    .what-content h1.what-text span.makes-text {
      font-family: 'Playfair Display', serif;
      text-transform: none;
      font-weight: lighter;
      font-size: 120px;
      letter-spacing: 0px;
      margin-left: 30px; }

.what-content-items {
  width: 80%;
  margin: 0 10% 25% 10%; }
  .what-content-items h4, .what-content-items ul {
    text-align: left; }
  .what-content-items h4 {
    margin-top: 10px;
    text-transform: none; }
  .what-content-items .line-break {
    width: 50px;
    height: 5px;
    background-color: #f58220; }
  .what-content-items ul {
    margin-top: 20px;
    padding: 0;
    list-style-type: none;
    text-align: left; }
    .what-content-items ul li {
      font-family: 'Montserrat', sans-serif;
      font-size: 16px;
      font-weight: 400;
      margin-bottom: 15px; }

.full-menu-single {
  visibility: visible;
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  height: 75px;
  width: 100%;
  opacity: 1;
  background-color: white;
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out; }
  .full-menu-single .full-menu--middle {
    visibility: hidden; }

.full-menu--open {
  visibility: visible;
  background-color: #1b1b22;
  display: table;
  height: 100%; }
  .full-menu--open .full-menu--middle {
    visibility: visible !important;
    opacity: 1;
    background-color: #1b1b22; }
    .full-menu--open .full-menu--middle .logo-main {
      top: 25px; }

.single-controls {
  width: 100%;
  position: fixed;
  text-align: center;
  top: 10px; }
  .single-controls a {
    width: 30px;
    height: 30px;
    display: inline-block;
    margin: 0 50px; }
  .single-controls .post-control {
    width: 50px;
    height: 50px;
    display: inline-block;
    text-align: center; }

.navbar-brand {
  position: fixed;
  top: 10px;
  right: 135px;
  width: 230px;
  z-index: 9998; }

.single-splash-section {
  background: url("../img/sir1.png") no-repeat center;
  background-size: cover;
  height: 100vh; }

.works-splash-section {
  background-color: #fff;
  color: #3c3c3c;
  padding: 100px 0px;
  height: 100vh; }
  .works-splash-section .works-splash-title-container {
    position: relative;
    width: 60%;
    margin: 0 auto;
    z-index: 9998; }
    .works-splash-section .works-splash-title-container .works-splash-img {
      width: 40%;
      margin: 0px auto 100px auto; }
    .works-splash-section .works-splash-title-container .line-break {
      width: 200px;
      height: 5px;
      background-color: #f58220;
      margin: 30px auto 150px auto;
      display: block; }
    .works-splash-section .works-splash-title-container .scroll-down {
      position: relative;
      left: 50%;
      top: 50px; }
      .works-splash-section .works-splash-title-container .scroll-down img {
        width: 10px; }
      .works-splash-section .works-splash-title-container .scroll-down:focus {
        outline: none; }

.works-splash-overflow {
  background-image: url("../img/bg-lines.png");
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  position: absolute;
  top: 120px;
  height: 160vh;
  width: 100%;
  z-index: 1000; }

.works-filter-section {
  position: relative;
  z-index: 9997; }
  .works-filter-section .works-jumbo-main {
    margin: 100px 0; }
    .works-filter-section .works-jumbo-main .left {
      display: flex;
      justify-content: center;
      align-items: center; }
      .works-filter-section .works-jumbo-main .left .text-container {
        width: 50%;
        margin: 0 auto;
        text-align: center; }
        .works-filter-section .works-jumbo-main .left .text-container a {
          color: #3c3c3c;
          font-family: 'Playfair Display', serif;
          font-size: 16px;
          line-height: 28px;
          font-weight: lighter;
          text-decoration: underline; }
        .works-filter-section .works-jumbo-main .left .text-container .line-break {
          width: 20px;
          height: 1px;
          background-color: #3c3c3c;
          margin: 0 auto; }
    .works-filter-section .works-jumbo-main .right {
      padding-right: 0; }
      .works-filter-section .works-jumbo-main .right img {
        width: 100%; }
  .works-filter-section .works-jumbo-second {
    position: relative; }
    .works-filter-section .works-jumbo-second img {
      width: 100%; }
    .works-filter-section .works-jumbo-second .works-jumbo-content {
      position: absolute;
      right: 50px;
      top: 100px;
      color: #fff;
      text-align: center;
      padding: 20px;
      width: 35%; }
      .works-filter-section .works-jumbo-second .works-jumbo-content a {
        color: #fff;
        font-family: 'Playfair Display', serif;
        font-size: 16px;
        line-height: 28px;
        font-weight: lighter;
        text-decoration: underline; }
      .works-filter-section .works-jumbo-second .works-jumbo-content .line-break {
        width: 20px;
        height: 1px;
        background-color: #fff;
        margin: 0 auto; }
  .works-filter-section .works-filter-container {
    width: 80%;
    margin: 50px 10%;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    justify-items: center;
    align-items: center; }
    .works-filter-section .works-filter-container .gallery_product {
      margin-bottom: 30px;
      text-align: center; }
      .works-filter-section .works-filter-container .gallery_product h4 {
        margin: 50px auto 20px;
        font-size: 20px;
        font-weight: 600;
        line-height: 28px;
        text-transform: none;
        width: 50%; }
      .works-filter-section .works-filter-container .gallery_product a {
        font-family: 'Playfair Display', serif;
        font-size: 16px;
        line-height: 28px;
        color: #3c3c3c;
        text-decoration: underline; }
  .works-filter-section a.filter-button {
    text-align: center;
    margin-bottom: 100px;
    display: block;
    text-decoration: underline; }
    .works-filter-section a.filter-button:hover {
      cursor: pointer;
      color: #3c3c3c; }

.contact-splash-section {
  width: 70%;
  margin: 0 15%;
  height: 100vh; }
  .contact-splash-section .contact-splash-title-container {
    display: grid;
    grid-template-rows: 50%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 50px;
    grid-row-gap: 15px;
    justify-self: center;
    align-self: center;
    position: relative;
    z-index: 9998;
    margin: 150px 0 100px 0; }
    .contact-splash-section .contact-splash-title-container .item img {
      margin: 0 auto; }
    .contact-splash-section .contact-splash-title-container .item .main-icon {
      max-width: 150px; }
    .contact-splash-section .contact-splash-title-container .item p {
      width: 50%;
      margin: 0 auto 30px auto; }
    .contact-splash-section .contact-splash-title-container #staggered-item {
      margin-top: 150px; }
  .contact-splash-section .scroll-down {
    position: relative;
    left: 50%;
    font-family: 'Playfair Display', serif; }
    .contact-splash-section .scroll-down img {
      width: 10px; }
    .contact-splash-section .scroll-down:focus {
      outline: none; }

.contact-map {
  margin: 50px 0; }

#map {
  width: 100%;
  height: 500px; }

#map .map_adresse {
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 1px;
  text-align: center;
  padding: 20px;
  border-radius: 10px; }

#map img {
  max-width: 90%;
  margin: 0 auto 20px auto; }

.contact-lower {
  width: 80%;
  margin: 0 10% 50px 10%;
  position: relative; }
  .contact-lower .scroll-up {
    position: relative;
    left: 50%;
    font-family: 'Playfair Display', serif;
    color: #3c3c3c; }
    .contact-lower .scroll-up img {
      width: 20px;
      margin-bottom: 10px; }
    .contact-lower .scroll-up:focus {
      outline: none; }
  .contact-lower .scroll-back {
    position: absolute;
    top: -60px;
    font-family: 'Playfair Display', serif;
    color: #3c3c3c; }
    .contact-lower .scroll-back img {
      width: 10px;
      margin: 100px 5px 100px 5px; }

/*======= Splash Section =======*/
.splash-section {
  width: 100%;
  height: 100vh;
  margin-top: 70px; }
  .splash-section .splash-title-container {
    position: absolute;
    top: 25%;
    left: 25%;
    text-align: center;
    margin: 0 auto;
    width: 50%;
    z-index: 9998; }
    .splash-section .splash-title-container img {
      width: 70%;
      margin: 0 auto; }
    .splash-section .splash-title-container h2 {
      width: 80%;
      margin: 50px auto; }
    .splash-section .splash-title-container .text-break {
      height: 5px;
      width: 200px;
      background-color: #f58220;
      margin: 0 auto 30px auto;
      display: block; }
    .splash-section .splash-title-container p {
      width: 90%;
      margin: 0 auto; }
  .splash-section .homepage-hero-module .video-container {
    opacity: .2; }

.splash-overflow {
  background-image: url("../img/bg-lines.png");
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  position: absolute;
  top: 120px;
  height: 160vh;
  width: 100%; }

/*======= Branding Section =======*/
.branding-section {
  height: auto;
  width: 100%;
  margin-top: 100px; }
  .branding-section .scroll-down {
    position: relative;
    left: 10%;
    top: 350px;
    display: block;
    writing-mode: sideways-lr;
    z-index: 9995; }
  .branding-section .left {
    padding-left: 15%; }
    .branding-section .left .box h1 {
      margin: 0px 0 50px 0;
      display: block; }
    .branding-section .left .box h3 {
      margin-bottom: 15px; }
    .branding-section .left .box .item-desc {
      position: absolute;
      bottom: 0; }
  .branding-section .right {
    padding-right: 0px;
    position: relative;
    right: 0; }
    .branding-section .right .box img {
      margin-bottom: 15px;
      display: block;
      width: 100%; }

/*======= Advertising Section =======*/
.advertising-section {
  height: auto;
  padding-top: 70px; }
  .advertising-section .top {
    margin-bottom: 50px; }
    .advertising-section .top .right h1 {
      margin-bottom: 30px; }
      .advertising-section .top .right h1 span.underline {
        border-bottom: 3px solid orange; }
  .advertising-section .mid .left {
    padding-left: 0px; }
    .advertising-section .mid .left img {
      margin-bottom: 15px;
      display: block;
      width: 100%; }
  .advertising-section .mid .right {
    padding-right: 0px; }
    .advertising-section .mid .right h3 {
      margin-top: 0px; }
    .advertising-section .mid .right img {
      width: 100%;
      max-width: none;
      margin-top: 30px; }
  .advertising-section .bottom {
    padding-left: 10%; }

.others-section {
  height: 100vh;
  margin-top: 100px; }
  .others-section .others-header {
    z-index: 9998;
    position: relative;
    top: -165px; }
  .others-section img {
    width: 100%;
    display: block;
    position: relative;
    top: -55px; }
  .others-section .others-content {
    background-image: url("../img/others.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 90vh; }
    .others-section .others-content .others-content-inner {
      background-color: #f58220;
      padding: 50px 0 50px 75px;
      width: 65%;
      margin: 0 auto;
      display: grid;
      grid-template-rows: 50%;
      grid-template-columns: 1fr 1fr;
      grid-column-gap: 15px;
      grid-row-gap: 15px;
      justify-self: start;
      align-self: center;
      position: relative;
      top: 200px; }
      .others-section .others-content .others-content-inner h4, .others-section .others-content .others-content-inner p {
        color: #fff; }
      .others-section .others-content .others-content-inner p {
        display: inline-block;
        font-size: 16px; }

.group-section {
  margin-top: 200px;
  background: url("../img/group.png") no-repeat bottom;
  background-size: cover;
  width: 100%;
  height: 700px; }

.clients-section {
  height: auto;
  margin-top: 100px;
  padding: 0 10%; }
  .clients-section .clients-container {
    margin: 100px 0 200px;
    display: grid;
    grid-template-rows: 150px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 15%;
    grid-row-gap: 100px;
    justify-items: center;
    align-items: center; }
    .clients-section .clients-container .client-item {
      max-height: 150px; }

h1, h4, h5, .main-nav li a, .blockquote h1, .blockquote h1 span.achieve {
  font-family: 'Montserrat', sans-serif; }

h1.who-header, h2, h3, p, a.branding, a.sroll-down, .cta {
  font-family: 'Playfair Display', serif; }

h1 {
  font-weight: 900;
  font-size: 6vw;
  text-transform: uppercase; }
  h1 span.underline {
    border-bottom: 3px solid black; }

h1.who-header {
  font-size: 10vw;
  font-weight: lighter;
  text-transform: none;
  text-align: center; }

h2 {
  font-size: 4.2vw;
  text-align: center; }

h3 {
  font-size: 2vw; }

h4 {
  font-size: 1.8vw;
  font-weight: 700;
  text-transform: uppercase; }

h5 {
  font-weight: 600;
  font-size: 1.1vw;
  margin-bottom: 0px; }

p {
  font-size: 14px;
  line-height: 32px;
  text-align: center; }

.who-splash-section p {
  font-size: 20px; }

a.branding {
  font-size: 1.9vw;
  text-decoration: underline;
  color: #3c3c3c; }

a.scroll-down {
  font-size: 12px;
  color: #3c3c3c;
  text-decoration: none; }
  a.scroll-down img {
    margin-top: 10px; }

.main-nav li a {
  font-size: 30px;
  font-weight: 600;
  color: #fff; }

.blockquote h1 {
  font-size: 54px;
  font-weight: 400; }

.cta {
  font-size: 18px;
  text-decoration: underline;
  color: #fff; }

/*============================================*/
.row {
  margin: 0; }

ul.landing-list {
  list-style: none; }
  ul.landing-list li {
    position: relative;
    margin-bottom: 10px; }
    ul.landing-list li:before {
      position: absolute;
      display: block;
      content: '';
      background-image: url("../img/icon-list.svg");
      background-repeat: no-repeat;
      height: 15px;
      width: 15px;
      left: -40px;
      top: 4px; }

.blockquote {
  padding: 30px 0px 30px 60px;
  margin: 80px 0 0 0;
  background-image: url("../img/blockquote.svg");
  background-position: top left;
  background-repeat: no-repeat;
  text-indent: 0;
  width: 500px; }
  .blockquote h1 {
    display: block;
    text-transform: none; }
    .blockquote h1 span.achieve {
      font-weight: bolder;
      color: #f58220; }
  .blockquote .blockquote2 {
    background-image: url("../img/blockquote2.svg");
    background-repeat: no-repeat;
    background-position: bottom right;
    width: 50px;
    height: 35px;
    position: relative;
    left: 385px; }

.orange {
  color: #f58220; }

.cta {
  display: inline;
  transition: all .33s ease-in-out 0s; }
  .cta:hover {
    color: #fff;
    text-decoration: none !important; }
    .cta:hover .cta-arrow {
      transition: all .33s ease-in-out 0s;
      -moz-transform: translateX(160px) translateY(0px);
      -webkit-transform: translateX(160px) translateY(0px);
      -o-transform: translateX(160px) translateY(0px);
      -ms-transform: translateX(160px) translateY(0px);
      transform: translateX(160px) translateY(0px); }
  .cta:focus {
    border-bottom: 4px solid #fff;
    color: #fff;
    text-decoration: none;
    outline: none !important; }
    .cta:focus img {
      display: none; }
  .cta .cta-arrow {
    display: inline;
    width: 50px;
    position: inherit;
    margin-left: -70px;
    margin-right: 20px; }

.cta-footer:hover {
  text-decoration: none !important; }
  .cta-footer:hover .cta-arrow {
    transition: all .33s ease-in-out 0s;
    -moz-transform: translateX(240px) translateY(0px);
    -webkit-transform: translateX(240px) translateY(0px);
    -o-transform: translateX(240px) translateY(0px);
    -ms-transform: translateX(240px) translateY(0px);
    transform: translateX(240px) translateY(0px); }

.filter-button {
  font-family: 'Montserrat', sans-serif;
  font-size: 17px;
  border: none !important;
  text-align: center;
  color: #3c3c3c;
  margin-bottom: 30px;
  background: transparent; }

.filter-button:hover {
  border: none !important;
  border-radius: 5px;
  text-align: center; }

.scroll-down, .scroll {
  display: block;
  writing-mode: sideways-lr;
  -webkit-writing-mode: sideways-lr;
  -moz-writing-mode: sideways-lr;
  -ms-writing-mode: sideways-lr;
  writing-mode: sideways-lr;
  /* new syntax */ }

.homepage-hero-module {
  border-right: none;
  border-left: none;
  position: relative; }

.no-video .video-container video,
.touch .video-container video {
  display: none; }

.no-video .video-container .poster,
.touch .video-container .poster {
  display: block !important; }

.video-container {
  position: relative;
  bottom: 0%;
  left: 0%;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background: #000; }

.video-container .poster img {
  width: 100%;
  bottom: 0;
  position: absolute; }

.video-container .filter {
  z-index: 100;
  position: absolute;
  background: rgba(0, 0, 0, 0.4);
  width: 100%; }

.video-container video {
  position: absolute;
  z-index: 0;
  bottom: 0; }

.video-container video.fillWidth {
  width: 100%; }

.grid figure {
  position: relative;
  overflow: hidden;
  text-align: center;
  cursor: pointer;
  z-index: 9997; }

.grid figure img {
  position: relative;
  display: block;
  min-height: 100%;
  max-width: 100%;
  opacity: 1; }

.grid figure figcaption {
  padding: 30px 10px 10px 10px;
  color: #fff;
  text-transform: uppercase;
  font-size: 1.25em;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden; }

.grid figure figcaption::before,
.grid figure figcaption::after {
  pointer-events: none; }

.grid figure figcaption,
.grid figure figcaption > a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

/* Anchor will cover the whole item by default */
/* For some effects it will show as a button */
.grid figure figcaption > a {
  z-index: 1000;
  text-indent: 200%;
  white-space: nowrap;
  font-size: 0;
  opacity: 0; }

.grid figure h2 {
  word-spacing: 2px;
  font-weight: 300;
  font-family: 'Montserrat',sans-serif;
  font-size: 1em; }

.grid figure h2 span {
  font-weight: 800; }

.grid figure h2,
.grid figure p {
  margin: 0; }

.grid figure p {
  letter-spacing: 1px;
  font-size: 12px;
  line-height: 14px; }

.grid figure .line-break {
  height: 3px !important;
  width: 20px !important;
  background-color: #f58220;
  margin: 5px auto !important; }

/*---------------*/
/***** Bubba *****/
/*---------------*/
figure.effect-bubba img {
  opacity: 1;
  -webkit-transition: opacity 0.35s;
  transition: opacity 0.35s; }

figure.effect-bubba:hover img {
  opacity: 0.4; }

figure.effect-bubba figcaption::before,
figure.effect-bubba figcaption::after {
  position: absolute;
  top: 1px;
  right: 1px;
  bottom: 1px;
  left: 1px;
  content: '';
  opacity: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s; }

figure.effect-bubba figcaption::before {
  border-top: 4px solid #f58220;
  border-bottom: 4px solid #f58220;
  -webkit-transform: scale(0, 1);
  transform: scale(0, 1); }

figure.effect-bubba figcaption::after {
  border-right: 4px solid #f58220;
  border-left: 4px solid #f58220;
  -webkit-transform: scale(1, 0);
  transform: scale(1, 0); }

figure.effect-bubba h2 {
  -webkit-transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
  -webkit-transform: translate3d(0, -50px, 0);
  transform: translate3d(0, -50px, 0); }

figure.effect-bubba p {
  padding: 5px;
  opacity: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(0, 20px, 0);
  transform: translate3d(0, 20px, 0); }

figure.effect-bubba .line-break {
  opacity: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(0, 20px, 0);
  transform: translate3d(0, 20px, 0); }

figure.effect-bubba:hover figcaption::before,
figure.effect-bubba:hover figcaption::after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1); }

figure.effect-bubba:hover h2,
figure.effect-bubba:hover p,
figure.effect-bubba:hover .line-break {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

footer {
  background-color: #373737;
  padding: 50px 10%;
  color: #fff; }
  footer .upper .left {
    padding-right: 50px; }
    footer .upper .left p {
      font-family: 'Montserrat', sans-serif;
      font-weight: 200;
      font-size: 1vw;
      text-align: left !important; }
    footer .upper .left a {
      font-family: 'Playfair Display', serif;
      font-size: 2vw;
      color: #fff;
      text-decoration: underline; }
  footer .upper .right p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 1.1vw;
    float: right; }
  footer .upper .right a {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 2vw;
    float: right;
    color: #fff; }
  footer .upper .right p.telephone {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 1vw;
    float: right; }
  footer .lower .social-container {
    height: 250px;
    position: relative; }
    footer .lower .social-container .footer-contents {
      position: absolute;
      bottom: 0;
      width: 90%;
      margin: 0 auto;
      display: block; }
      footer .lower .social-container .footer-contents .main-logo {
        display: block;
        max-height: 150px; }
      footer .lower .social-container .footer-contents .social-icons {
        display: block;
        text-align: center; }
        footer .lower .social-container .footer-contents .social-icons a {
          height: auto;
          width: 100%;
          margin-right: 20px; }
          footer .lower .social-container .footer-contents .social-icons a img {
            display: inline;
            width: 50px; }
  footer .lower #creativehunts .footer-contents .main-logo {
    margin-bottom: 50px; }
  footer .lower #hunterone .footer-contents .main-logo {
    margin-bottom: 30px; }

/*==========  Non-Mobile First Method  ==========*/
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
  .menu-toggle {
    border-bottom: 1px solid red; }

  .others-section .others-content .others-content-inner {
    width: 75%; } }
/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  .menu-toggle {
    border-bottom: 1px solid blue; }

  h1 {
    font-size: 5em; }

  h2 {
    font-size: 4em; }

  h3 {
    font-size: 2em; }

  h4 {
    font-size: 1.8em; }

  h5 {
    font-size: 1.1em; }

  p {
    font-size: 14px; }

  a.branding {
    font-size: 1.9em; }

  .splash-section .splash-title-container h2 {
    font-size: 2.2em; }

  .others-section {
    margin-top: 0px; }
    .others-section .others-header {
      position: static; }
      .others-section .others-header .main-header {
        margin-bottom: 50px; }
    .others-section .others-content .others-content-inner {
      width: 90%; }
      .others-section .others-content .others-content-inner h4 {
        font-size: 1.5em; }

  footer .upper .right p {
    font-size: 11px; }
  footer .upper .right p.telephone {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 14px;
    float: right; }
  footer .lower .social-container {
    height: 200px; }
    footer .lower .social-container .footer-contents .social-icons a {
      margin-right: 10px; }
      footer .lower .social-container .footer-contents .social-icons a img {
        width: 30px; }

  .who-splash-section .who-splash-title-container {
    width: 80%; }
  .who-splash-section .hunter-leaders-section .right {
    height: 200px;
    margin-top: 50px; }

  .who-quote-section {
    width: 70%; }
    .who-quote-section h1 {
      font-size: 50px; }
    .who-quote-section .orange {
      font-size: 108px; }

  .who-collective-section {
    width: 90%; }
    .who-collective-section h1 {
      font-size: 50px;
      width: 80%; }

  .contact-splash-section {
    width: 90%;
    margin: 0 5%; }
    .contact-splash-section .contact-splash-title-container .item p {
      width: 100%; } }
/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  .menu-toggle {
    border-bottom: 1px solid green; }

  .full-menu--middle .logo-main {
    right: 15px; }

  .splash-section .splash-title-container {
    left: 10%;
    width: 80%; }

  .box {
    height: auto !important; }

  .branding-section .left .box .item-desc {
    position: static;
    bottom: 0;
    margin: 30px 0 50px; }
  .branding-section .right {
    padding-right: 15px; }

  .advertising-section .mid .left {
    padding-left: 15px; }
  .advertising-section .mid .right {
    padding-right: 15px; }
  .advertising-section .bottom {
    padding-left: 0; }
    .advertising-section .bottom .advertising-section .bottom .blockquote {
      padding: 30px 0px 30px 60px;
      margin: 60px auto 0 auto;
      width: 80%; }

  .others-section .others-content .others-content-inner {
    padding: 20px;
    width: 95%; }
    .others-section .others-content .others-content-inner h4 {
      font-size: 1.4em;
      margin-bottom: 5px; }

  .navbar-brand {
    top: 10px;
    right: 30px; }

  .who-collective-section {
    margin: 0 auto 200px auto; }
    .who-collective-section .who-collective-container {
      grid-template-columns: 1fr;
      margin-top: 80px; }
      .who-collective-section .who-collective-container #one {
        margin-top: -30px; }
      .who-collective-section .who-collective-container #two {
        margin-top: -30px; }
      .who-collective-section .who-collective-container #three {
        margin-top: -30px; }
      .who-collective-section .who-collective-container #four {
        margin-top: -30px; }
      .who-collective-section .who-collective-container #five {
        margin-top: -30px; }

  .who-splash-section .hunter-leaders-section .right {
    margin: 100px 0 70px; }

  .who-quote-section h1 {
    font-size: 8vw; }

  .who-quote-section .orange {
    font-size: 15vw; }

  .who-collective-section h1 {
    font-size: 8vw; }

  .who-links-section {
    background-color: #f58220;
    padding: 150px 0 200px 0;
    color: #fff;
    text-align: center; }
    .who-links-section .left img.icon1 {
      width: 150px; }
    .who-links-section .right img.icon2 {
      width: 200px;
      margin: 100px auto 30px auto; }

  .what-splash-section .what-splash-title-container {
    width: 80%; }
    .what-splash-section .what-splash-title-container img.what-splash-img {
      width: 50%;
      margin: 40px auto 80px auto; }
    .what-splash-section .what-splash-title-container h1 {
      font-size: 90px; }
    .what-splash-section .what-splash-title-container .line-break {
      width: 90px;
      margin-bottom: 100px; }

  .works-splash-section .works-splash-title-container {
    width: 80%; }
    .works-splash-section .works-splash-title-container img.works-splash-img {
      width: 50%;
      margin: 40px auto 80px auto; }
    .works-splash-section .works-splash-title-container h1 {
      font-size: 90px; }
    .works-splash-section .works-splash-title-container .line-break {
      width: 90px;
      margin-bottom: 100px; }

  .works-filter-section .works-jumbo-main .right {
    padding-right: 15px;
    margin: 50px 0 0 0; }

  .works-filter-section .works-jumbo-second .works-jumbo-content {
    right: 10px;
    top: 18%;
    width: 95%; }

  .works-filter-section .works-filter-container {
    width: auto;
    margin: 50px 15px; }
    .works-filter-section .works-filter-container .gallery_product h4 {
      width: 100%; }

  .contact-splash-section .contact-splash-title-container .item .main-icon {
    max-width: 100px; }

  footer {
    padding: 50px 15px; }
    footer .upper .left {
      padding: 0 15px; }
      footer .upper .left p {
        float: none;
        font-size: 12px;
        line-height: 24px; }
      footer .upper .left a {
        font-size: 2.5vw;
        color: #fff;
        text-decoration: underline;
        float: right; }
    footer .upper .right {
      padding: 0; }
      footer .upper .right p {
        font-size: 11px;
        line-height: 23px; }
      footer .upper .right a {
        font-size: 14px;
        margin-bottom: 10px; }
    footer .lower {
      margin-top: 30px; }
      footer .lower #creativehunts, footer .lower #hunterone {
        margin: 70px 0; } }
/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  .menu-toggle {
    border-bottom: 1px solid yellow; }

  .splash-section .splash-title-container {
    left: 5%;
    width: 90%; }

  .blockquote {
    padding: 30px;
    width: auto;
    background-size: 35px; }
    .blockquote h1 {
      font-size: 6vw; }
    .blockquote .blockquote2 {
      position: absolute;
      right: 0;
      left: auto;
      width: 35px; }

  .others-section .others-content .others-content-inner {
    display: block;
    text-align: center; }

  .clients-section .clients-container {
    grid-template-columns: 1fr 1fr; }

  footer .upper .left {
    width: 100%; }
  footer .upper .right {
    width: 100%;
    margin-top: 50px;
    text-align: center; }
    footer .upper .right p, footer .upper .right a, footer .upper .right p.telephone {
      float: none; }
    footer .upper .right p.telephone {
      margin-top: 10px; }
  footer .lower {
    margin-top: 0px; }
    footer .lower #creativehunts, footer .lower #hunterone {
      margin: 0; }

  .navbar-brand {
    top: 10px;
    right: 10px; }

  .who-splash-section .who-splash-title-container {
    width: 95% !important; }
    .who-splash-section .who-splash-title-container .who-splash-img {
      width: 60% !important; }
    .who-splash-section .who-splash-title-container h1.who-header {
      font-size: 50px; }
    .who-splash-section .who-splash-title-container p {
      width: 95% !important; }
    .who-splash-section .who-splash-title-container .line-break {
      width: 100px; }
  .who-splash-section .hunter-leaders-section {
    width: 95% !important;
    margin: 100px auto 0 auto; }
    .who-splash-section .hunter-leaders-section .left .hunter-leaders-container {
      grid-template-columns: 1fr !important; }
      .who-splash-section .hunter-leaders-section .left .hunter-leaders-container #two {
        margin-top: -30px; }
      .who-splash-section .hunter-leaders-section .left .hunter-leaders-container #three {
        margin-top: -30px; }

  .what-splash-section .what-splash-title-container {
    width: 80%; }
    .what-splash-section .what-splash-title-container img.what-splash-img {
      width: 70%; }
    .what-splash-section .what-splash-title-container h1.who-header {
      font-size: 50px; }
    .what-splash-section .what-splash-title-container p {
      width: 95% !important; }
    .what-splash-section .what-splash-title-container .line-break {
      width: 100px; }

  .what-content h1.what-text {
    line-height: 40px;
    letter-spacing: -3px;
    font-size: 3.2em; }
    .what-content h1.what-text span.makes-text {
      font-size: 1.5em;
      letter-spacing: 0px;
      margin-left: 15px; }
  .what-content .what-content-items .item {
    width: 100%;
    margin-bottom: 50px; }
    .what-content .what-content-items .item img {
      float: none !important; }

  .works-splash-section .works-splash-title-container {
    width: 80%; }
    .works-splash-section .works-splash-title-container img.works-splash-img {
      width: 70%; }

  .works-filter-section .works-jumbo-second .works-jumbo-content {
    right: 10px;
    top: 10%;
    width: 95%;
    padding: 5px; }
    .works-filter-section .works-jumbo-second .works-jumbo-content h4 {
      font-size: 1.5em; }

  .works-filter-section .works-filter-container {
    grid-template-columns: 1fr; }

  .contact-splash-section .contact-splash-title-container {
    grid-template-columns: 1fr; }
    .contact-splash-section .contact-splash-title-container .item, .contact-splash-section .contact-splash-title-container #staggered-item {
      margin-top: 100px; } }
/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
  .menu-toggle {
    border-bottom: 1px solid pink; } }
body {
  height: auto;
  width: 100%; }

html {
  width: 100%;
  height: 100%; }

/*# sourceMappingURL=master.css.map */
