// _globals.scss

// Fonts
h1, h4, h5, .main-nav li a, .blockquote h1, .blockquote h1 span.achieve {
  font-family: 'Montserrat', sans-serif;
}
h2, h3, p, a.branding, a.sroll-down, .cta {
  font-family: 'Playfair Display', serif;
}
h1 {
  font-weight: 900;
  font-size: 6vw;
  text-transform: uppercase;

  span.underline {
    border-bottom: 3px solid black;
  }
}
h2 {
  font-size: 4.2vw;
  text-align: center;
}
h3 {
  font-size: 2vw;
}
h4 {
  font-size: 1.8vw;
  font-weight: 700;
  text-transform: uppercase;
}
h5 {
  font-weight: 600;
  font-size: 1.1vw;
  margin-bottom: 0px;
}
p {
  font-size: 14px;
  line-height: 32px;
  text-align: center;
}
a.branding {
  font-size: 1.9vw;
  text-decoration: underline;
  color: $text-blk;
}
a.scroll-down {
  font-size: 12px;
  color: $text-blk;
  text-decoration: none;

  img {
    margin-top: 10px;
  }
}
.main-nav {
  li {
    a {
       font-size: 30px;
       font-weight: 600;
       color: $white;
     }
   }
 }
 .blockquote {
   h1 {
     font-size: 54px;
     font-weight: 400;
   }
 }
 .cta {
   font-size: 18px;
   text-decoration: underline;
   color: $white;
 }


 /*============================================*/


.row {
  margin: 0;
}


// Landing globals
ul.landing-list {
   list-style: none;

   li {
     position: relative;
     margin-bottom: 10px;

     &:before {
       position: absolute;
       display: block;
       content: '';
       background-image: url('../img/icon-list.svg');
       background-repeat: no-repeat;
       height: 15px;
       width: 15px;
       left: -40px;
       top: 4px;
     }
   }
}

//blockquote
.blockquote {
  padding: 30px 0px 30px 60px;
  margin: 80px 0 0 0;
  background-image: url("../img/blockquote.svg");
  background-position: top left;
  background-repeat: no-repeat;
  text-indent: 0;
  width: 500px;

  h1 {
    display: block;
    text-transform: none;

    span.achieve {
      font-weight: bolder;
      color: $orange;
    }
  }

  .blockquote2 {
    background-image: url("../img/blockquote2.svg");
    background-repeat: no-repeat;
    background-position: bottom right;
    width: 50px;
    height: 35px;
    position: relative;
    left: 385px;
  }
}

// Colors
.orange {
  color: $orange;
}


// CTA
.cta {
  display: inline;
  transition: all .33s ease-in-out 0s;

  &:hover {
    color: $white;
    text-decoration: none !important;

    .cta-arrow {
      transition: all .33s ease-in-out 0s;
      -moz-transform: translateX(160px) translateY(0px);
      -webkit-transform: translateX(160px) translateY(0px);
      -o-transform: translateX(160px) translateY(0px);
      -ms-transform: translateX(160px) translateY(0px);
      transform: translateX(160px) translateY(0px);
    }
  }

  &:focus {
    border-bottom: 4px solid $white;
    color: $white;
    text-decoration: none;
    outline: none !important;

    img {
      display: none;
    }
  }

  .cta-arrow {
    display: inline;
    width: 50px;
    position: inherit;
    margin-left: -70px;
    margin-right: 20px;
  }
}

.cta-footer {
  &:hover {
    text-decoration: none !important;

    .cta-arrow {
      transition: all .33s ease-in-out 0s;
      -moz-transform: translateX(240px) translateY(0px);
      -webkit-transform: translateX(240px) translateY(0px);
      -o-transform: translateX(240px) translateY(0px);
      -ms-transform: translateX(240px) translateY(0px);
      transform: translateX(240px) translateY(0px);
    }
  }
}


// video bg
.homepage-hero-module {
    border-right: none;
    border-left: none;
    position: relative;
}
.no-video .video-container video,
.touch .video-container video {
    display: none;
}
.no-video .video-container .poster,
.touch .video-container .poster {
    display: block !important;
}
.video-container {
    position: relative;
    bottom: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background: #000;
}
.video-container .poster img {
    width: 100%;
    bottom: 0;
    position: absolute;
}
.video-container .filter {
    z-index: 100;
    position: absolute;
    background: rgba(0, 0, 0, 0.4);
    width: 100%;
}
.video-container video {
    position: absolute;
    z-index: 0;
    bottom: 0;
}
.video-container video.fillWidth {
    width: 100%;
}



// Footer Section
footer {
  background-color: $footer-blk;
  padding: 50px 10%;
  color: $white;

  .upper {
    .left {
      padding-right: 50px;

      p {
        font-family: 'Montserrat', sans-serif;
        font-weight: 200;
        font-size: 1vw;
        text-align: left !important;
      }

      a {
        font-family: 'Playfair Display', serif;
        font-size: 2vw;
        color: $white;
        text-decoration: underline;
      }
    }

    .right {
      p {
        font-family: 'Montserrat', sans-serif;
        font-weight: 500;
        font-size: 1.1vw;
        float: right;
      }
      a {
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
        font-size: 2vw;
        float: right;
        color: $white;
      }
      p.telephone {
        font-family: 'Montserrat', sans-serif;
        font-weight: 500;
        font-size: 1vw;
        float: right;
      }
    }
  }

  .lower {
    .social-container {
      height: 250px;
      position: relative;

      .footer-contents {
        position: absolute;
        bottom: 0;
        width: 90%;
        margin: 0 auto;
        display: block;

        .main-logo {
          display: block;
        }

        .social-icons {
          display: block;
          text-align: center;

          a {
            height: auto;
            width: 100%;
            margin-right: 20px;

            img {
              display: inline;
              width: 50px;
            }
          }
        }
      }
    }

    #creativehunts {
      .footer-contents {
        .main-logo {
          margin-bottom: 50px;
        }
      }
    }
    #hunterone {
      .footer-contents {
        .main-logo {
          margin-bottom: 30px;
        }
      }
    }
  }
}
