
/*==========  Non-Mobile First Method  ==========*/

    /* Large Devices, Wide Screens */
    @media only screen and (max-width : 1200px) {
    	.menu-toggle { border-bottom: 1px solid red; }

      .others-section {
        .others-content {
          .others-content-inner {
            width: 75%;
          }
        }
      }

    }

    /* Medium Devices, Desktops */
    @media only screen and (max-width : 992px) {
    	.menu-toggle { border-bottom: 1px solid blue; }

      // Fonts
      h1 {
        font-size: 5em;
      }
      h2 {
        font-size: 4em;
      }
      h3 {
        font-size: 2em;
      }
      h4 {
        font-size: 1.8em;
      }
      h5 {
        font-size: 1.1em;
      }
      p {
        font-size: 14px;
      }
      a.branding {
        font-size: 1.9em;
      }

      // Landing Page
      .splash-section .splash-title-container h2 {font-size: 2.2em;}

      .others-section {
        margin-top: 0px;

        .others-header {
          position: static;

          .main-header {
            margin-bottom: 50px;
          }
        }

        .others-content {
          .others-content-inner {
            width: 90%;

            h4 {
              font-size: 1.5em;
            }
          }
        }
      }


      // Footer
      footer {
        .upper .right {
          p {
            font-size: 11px;
          }
          p.telephone {
            font-family: 'Montserrat', sans-serif;
            font-weight: 500;
            font-size: 14px;
            float: right;
          }
        }
        .lower .social-container {
          height: 200px;

          .footer-contents .social-icons a {
            margin-right: 10px;

            img {
              width: 30px;
            }
          }
        }
      }

      // Who We Are page
      .who-splash-section {
        .who-splash-title-container {
          width: 80%;
        }
        .hunter-leaders-section .right {
            height: 200px;
            margin-top: 50px;
        }
      }
      .who-quote-section {
          width: 70%;

          h1 {
            font-size: 50px;
          }
          .orange {
            font-size: 108px;
          }
      }
      .who-collective-section {
        width: 90%;

        h1 {
            font-size: 50px;
            width: 80%;
        }
      }
    }

    /* Small Devices, Tablets */
    @media only screen and (max-width : 768px) {
    	.menu-toggle { border-bottom: 1px solid green; }
      .full-menu--middle .logo-main { right: 15px;}
      .splash-section .splash-title-container { left: 10%; width: 80%; }
      .box {
        height: auto !important;
      }

      // Branding Section
      .branding-section {
        .left .box .item-desc {
          position: static;
          bottom: 0;
          margin: 30px 0 50px;
        }
        .right {
          padding-right: 15px;
        }
      }

      // Advertising section
      .advertising-section {
        .mid {
          .left {
            padding-left: 15px;
          }
          .right {
            padding-right: 15px;
          }
        }
        .bottom {
          padding-left: 0;

          .advertising-section .bottom .blockquote {
              padding: 30px 0px 30px 60px;
              margin: 60px auto 0 auto;
              width: 80%;
          }
        }
      }

      // Others section
      .others-section {
        .others-content {
          .others-content-inner {
            padding: 20px;
            width: 95%;

            h4 {
                font-size: 1.4em;
                margin-bottom: 5px;
            }
          }
        }
      }


      // Who We Are Section
      .navbar-brand {
        top: 10px;
        right: 30px;
      }
      .who-collective-section {
        margin: 0 auto 200px auto;

        .who-collective-container {
          grid-template-columns: 1fr;
          margin-top: 80px;

          #one {margin-top: -30px;}
          #two {margin-top: -30px;}
          #three {margin-top: -30px;}
          #four {margin-top: -30px;}
          #five {margin-top: -30px;}
        }
      }
      .who-splash-section .hunter-leaders-section .right {
        margin: 100px 0 70px;
      }
      .who-quote-section h1 {
          font-size: 8vw;
      }
      .who-quote-section .orange {
          font-size: 15vw;
      }
      .who-collective-section h1 {
          font-size: 8vw;
      }


      // Footer
      footer {
        padding: 50px 15px;

        .upper {
          .left {
            padding: 0 15px;

            p {
              float: none;
              font-size: 12px;
              line-height: 24px;
            }
            a {
              font-size: 2.5vw;
              color: #fff;
              text-decoration: underline;
              float: right;
            }
          }
          .right {
            padding: 0;

            p {
              font-size: 11px;
              line-height: 23px;
            }
            a {
              font-size: 14px;
              margin-bottom: 10px;
            }
          }
        }

        .lower {
          margin-top: 30px;

          #creativehunts, #hunterone {
              margin: 70px 0;
          }
        }
      }
    }

    /* Extra Small Devices, Phones */
    @media only screen and (max-width : 480px) {
    	.menu-toggle { border-bottom: 1px solid yellow; }
      .splash-section .splash-title-container { left: 5%; width: 90%; }

      .blockquote {
        padding: 30px;
        width: auto;
        background-size: 35px;

        h1 {
          font-size: 6vw;
        }
        .blockquote2 {
            position: absolute;
            right: 0;
            left: auto;
            width: 35px;
        }
      }

      .others-section .others-content .others-content-inner {
          display: block;
          text-align: center;
      }

      .clients-section .clients-container {
        grid-template-columns: 1fr 1fr;
      }

      footer {
        .upper{

          .left {
            width: 100%;
          }
          .right {
            width: 100%;
            margin-top: 50px;
            text-align: center;

            p, a, p.telephone {
              float: none;
            }
            p.telephone {
              margin-top: 10px;
            }
          }
        }

        .lower {
          margin-top: 0px;

          #creativehunts, #hunterone {
              margin: 0;
          }
        }
      }


      // Who We Are page
      .navbar-brand {
        top: 10px;
        right: 10px;
      }
      .who-splash-section {
        .who-splash-title-container {
          width: 95% !important;

          .who-splash-img {
            width: 60% !important;
          }
          h1.who-header {
            font-size: 50px;
          }
          p {
            width: 95% !important;
          }
          .line-break {
            width: 100px;
          }
        }
        .hunter-leaders-section {
          width: 95% !important;
          margin: 100px auto 0 auto;

          .left {
            .hunter-leaders-container {
              grid-template-columns: 1fr !important;

              #two { margin-top: -30px;}
              #three { margin-top: -30px;}
            }
          }
        }
      }


    }

    /* Custom, iPhone Retina */
    @media only screen and (max-width : 320px) {
        .menu-toggle { border-bottom: 1px solid pink; }
    }
