// Our Works

.works-splash-section {
  background-color: $white;
  color: $text-blk;
  padding: 100px 0px;

  .works-splash-title-container {
    position: relative;
    width: 60%;
    margin: 0 auto;
    z-index: 9998;

    .works-splash-img {
      width: 40%;
      margin: 0px auto 100px auto;
    }

    .line-break {
      width: 200px;
      height: 5px;
      background-color: $orange;
      margin: 30px auto 150px auto;
      display: block;
    }

    // Controls
    .scroll-down {
      position: relative;
      left: 50%;
      top: 50px;

      img {
        width: 10px;
      }

      &:focus {
        outline: none;
      }
    }
  }
}
.works-splash-overflow {
  background-image: url('../img/bg-lines.png');
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  position: absolute;
  top: 120px;
  height: 160vh;
  width: 100%;
  z-index: 1000;
}


// Works Filter Section
.works-filter-section {
  position: relative;
  z-index: 9997;

  .works-jumbo-main {
    margin: 100px 0;

    .left {
      display: flex;
      justify-content: center;
      align-items: center;

      .text-container {
        width: 50%;
        margin: 0 auto;
        text-align: center;

        a {
          color: $text-blk;
          font-family: 'Playfair Display', serif;
          font-size: 16px;
          line-height: 28px;
          font-weight: lighter;
          text-decoration: underline;
        }
        .line-break {
          width: 20px;
          height: 1px;
          background-color: $text-blk;
          margin: 0 auto;
        }
      }
    }
    .right {
      padding-right: 0;
      img {
        width: 100%;
      }
    }
  }

  .works-jumbo-second {
    position: relative;

    img {
      width: 100%;
    }

    .works-jumbo-content {
      position: absolute;
      right: 50px;
      top: 100px;
      color: #fff;
      text-align: center;
      padding: 20px;
      width: 35%;

      a {
        color: $white;
        font-family: 'Playfair Display', serif;
        font-size: 16px;
        line-height: 28px;
        font-weight: lighter;
        text-decoration: underline;
      }
      .line-break {
        width: 20px;
        height: 1px;
        background-color: $white;
        margin: 0 auto;
      }
    }
  }



  .works-filter-container {
    width: 80%;
    margin: 50px 10%;

    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    justify-items: center;
    align-items: center;

    .gallery_product {
      margin-bottom: 30px;
      text-align: center;

      h4 {
        margin: 50px auto 20px;
        font-size: 20px;
        font-weight: 600;
        line-height: 28px;
        text-transform: none;
        width: 50%;
      }
      a {
        font-family: 'Playfair Display', serif;
        font-size: 16px;
        line-height: 28px;
        color: $text-blk;
        text-decoration: underline;
      }
    }
  }

  a.filter-button {
    text-align: center;
    margin-bottom: 100px;
    display: block;
    text-decoration: underline;

    &:hover {
      cursor: pointer;
      color: $text-blk;
    }
  }
}
