// What We Do page

.what-splash-section {
  height: 100vh;
  
  .what-splash-title-container {
    background-color: $white;
    color: $text-blk;
    padding: 100px 0px;
    width: 60%;
    margin: 0 auto;

    .what-splash-img {
      width: 40%;
      margin: 0 auto;
    }

    .line-break {
      width: 200px;
      height: 5px;
      background-color: $orange;
      margin: 30px auto;
      display: block;
    }
    p {
      width: 80%;
      margin: 0 auto;
    }

    // Controls
    .scroll-down {
      position: relative;
      left: 50%;
      top: 80px;
      color: $text-blk;
      z-index: 9998;

      img {
        width: 10px;
      }

      &:focus {
        outline: none;
      }
    }
  }
}
.what-splash-overflow {
  background-image: url('../img/who-bg-lines.png');
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  position: absolute;
  top: 40px;
  height: 160vh;
  width: 100%;
}

.group-img {
  width: 100%;
  margin-top: 100px;
}

.what-content {
 text-align: center;

  h1.what-text {
    font-weight: 700;
    text-transform: none;
    line-height: 60px;
    letter-spacing: -5px;
    margin: 25% 0;

    span.makes-text {
      font-family: 'Playfair Display', serif;
      text-transform: none;
      font-weight: lighter;
      font-size: 120px;
      letter-spacing: 0px;
      margin-left: 30px;
    }
  }
}

.what-content-items {
  width: 80%;
  margin: 0 10% 25% 10%;

  h4, ul {
    text-align: left;
  }
  h4 {
    margin-top: 10px;
    text-transform: none;
  }
  .line-break {
    width: 50px;
    height: 5px;
    background-color: $orange;
  }
  ul {
    margin-top: 20px;
    padding: 0;
    list-style-type: none;
    text-align: left;

    li {
      font-family: 'Montserrat', sans-serif;
      font-size: 16px;
      font-weight: 400;
      margin-bottom: 15px;
    }
  }
}
