// master.scss

@import "colors";
@import "fonts";
@import "nav";
@import "who-we-are";
@import "our-works";
@import "landing";
@import "globals";
@import "media";

body {
	height: auto;
	width: 100%;
}
html {
	width: 100%;
	height: 100%;
}
