// master.scss

@import "colors";
@import "fonts";
@import "nav";
@import "landing";
@import "who-we-are";
@import "globals";
@import "media";
 
body {
	height: auto;
	width: 100%;
}
html {
	width: 100%;
	height: 100%;
}
